@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Inconsolata:wght@200..900&family=Italianno&family=Macondo&family=Tangerine:wght@400;700&display=swap');
/* @import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(node_modules\@fortawesome\fontawesome-free\css\all.css>); */
@import url(/images/);
@import "tailwindcss";

:root {

  --light1: #86F786;
  --light2: #6DE5F7;
  --theme: #f78a78;
  --dark1: #65AB65;
  --dark2: #439DAB;
  --black: #000;
  --white: #fff;


  --autoMargin: 1em;
  --autoWidth: calc(100vw - var(var(--autoMargin)));


  /* dark1= rgb(101, 171, 101) 
  dark2= rgb(67, 157, 171) 
  light2= rgb(109, 229, 247)
  light1= rgb(134, 247, 134)
  */

}

body {
  background-image: linear-gradient(135deg, var(--black), var(--dark1), var(--theme));
  height: auto;
  width: 100%;
  font-family: Inconsolata;
}

@media only screen and (min-width:600px) {

}
  


/* 
h1 {
  font-family: fantasy;
  
} */
/* 
.gradient {
  background-image: linear-gradient(135deg, var(--black), var(--dark1), var(--theme));
  } */

#navbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  border: #000 3px;
  background-color: rgb(101, 171, 101, .5);
  font-weight: bold;
  font-size: 1.5em;
  color: var(--white);
  width: 100vw - 3px;
  position: sticky;
  top: 0px;
}

.navItem {
  border: solid 3px black;
  border-radius: 3px;
  background-color: rgb(101, 171, 101, .1);
}


.navItem:hover {
  background: var(--dark2);
  color: var(--black);
}

.center {
  margin: auto;
  text-align: center;
  display: block;
}

.art-section {
  margin: 15px;
  margin-top: 8em;
  padding: 8px;
}

.art-card {
  box-shadow: 0 7px 16px rgba(43, 93, 58, 0.5), 5px 7px 20px rgba(43, 93, 58, 0.5);
  margin: auto;
  display: block;
  width: fit-content;
  border: 4px solid rgb(67, 157, 171, .01);

}

.art-card:hover {
  border: 4px solid rgb(204, 204, 204);
}

.art-images {
  width: 150px;
  height: 150px;
  display: block;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

#art-gallery {
  margin-bottom: 4em;
}



/* @media only screen and (max-width: 500px) {
  .responsive {
    
  }
} */

.headImage {
  box-shadow: 0 1px 3px var(--dark1), 0 1px 2px var(--dark1);
  background-image: url(images/cherryblossoms.jpg);
  background-position: left top;
  background-size: cover;
  background-blend-mode: lighten;
  height: 35vw;
  border-radius: 5px;
  margin: auto;
  width: 100vw;
  overflow: hidden;

}

.intro {
  color: var(--black);
  text-align: center;
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  position: absolute;
  left: 5%;
  top: 20%;
  width: auto;
  height: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(95deg, rgb(134, 247, 134, .5), rgb(67, 157, 171, .5), var(--theme));
  border-radius: 10px;
}

.page-name {
  font-size: 6em;
  margin-bottom: -20px;
}

.subHeader {
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

.about-me {
  background-color: var(--dark1);
  /* width: 100vw;*/
  height: fit-content;
  margin: 2.5em;
  font-size: 18px;
  padding: 1em;
  border-radius: 4px;
  display: block;
  box-shadow: 0 1px 3px var(--dark2), 0 1px 2px var(--black);
}

.about-text {
  box-shadow: 0 1px 3px var(--dark2), 0 1px 2px var(--black);
  padding: 5px;
  margin: auto;
  float: inline-end;
  font-size: 1.5em;
}

.boxes {
  box-shadow: 0 1px 3px var(--dark2), 0 1px 2px var(--black);
  height: fit-content;
  border-radius: 3px;
  flex: auto;
  position: relative;
  color: var(--black);
  box-sizing: border-box;
  font-weight: bold;
  border: 0;
  padding: 1rem;
  background-color: var(--light2);
  margin: 2rem;
  z-index: 3;

}

.contact {
  box-shadow: 0 1px 3px var(--dark1), 0 1px 2px var(--black);
  border-radius: 4px;
  justify-content: space-between;
  text-align: justify;
  color: var(--black);
  /* box-sizing: border-box; */
  font-size: larger;
  padding: 1rem;
  background-color: var(--light1);
  width: 600px;
  margin: auto;
  display: grid;
}

.contact-icon {
  font-size: 1.5em;
  color: var(--dark2)
}

.form-text {
  width: 80%;
  margin: auto;
}
/* 
#contact-form {
  align-items: center;
  display: flex;
} */
.form-group {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.form-group::label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

.form-group::input,
textarea {

  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.submit-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.content-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
}

.container {
  margin-left: 16px;
  margin-right: 16px
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}



.footer {
  position: relative;
  bottom: 0px;


}

/* Font Styles */



.corinthia-regular {
  font-family: "Corinthia", cursive;
  font-weight: 400;
  font-style: normal;
}

.corinthia-bold {
  font-family: "Corinthia", cursive;
  font-weight: 700;
  font-style: normal;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}

/* <weight>: Use a value from 200 to 900
<uniquifier>: Use a unique and descriptive class name */
.inconsolata-standard {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}