body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    background-color: bisque;
}

#header {
    border: 3px solid black;
    background-color: aqua;
    width: 90%;
    height: auto;
    margin-top: 4em;
}

.center {
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#navlist {
    border: 3px solid white;
    width: 20%;
    background-color: lightgrey;
    
}

li {
    width: 60%;
    margin: auto;
    padding: 1ch;
    text: 4em bold white;

}